.styled-slider {
    width:75%;
    /* -webkit-appearance: none; */
}
.styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 3px + var(--ratio) * (100% - 3px));
}
.styled-slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 3px solid #11B6CA;
    background: #fff;
    margin-top: calc(14px * 0.5 - 12.5px);
    -webkit-appearance: none;
    
}
.styled-slider::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 150px;
    width:74%;
    border: none;
}
.styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #11B6CA, #11B6CA) 0 / var(--sx) 100%
        no-repeat,
    linear-gradient(#fff, #fff 50%);
    border: #11B6CA 2px solid;
}