/* desktop - 992px  */
/* ipad - 768px */
*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
.heading{
    padding: 30px;
    font-weight: bold;
}

/* Header */
.header{
    background: rgb(207, 146, 13);
    padding-top: 4%;
    padding-bottom: 4%;
}
.main-heading{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    line-height: 1.6;
    margin-top:60px;
    margin-bottom:30px;
}
.main-description{
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.3;
    color: #000;
    margin-top:30px;
    margin-bottom:20px;
}
.btn-f{
    display: inline-block;
    color: white;
    font-size: 1em;
    padding: .4em 1.8em;
    background-color: #5ACCDE;
    margin-top: 30px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
@media (max-width: 992px) and (min-width: 768px){
    .img{
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .main-heading{
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        line-height: 1.3;
        margin-top:40px;
        margin-bottom:10px;
    }
    .main-description{
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2;
        color: #000;
        margin-top:20px;
        margin-bottom:13px;
    }
}
@media (max-width: 768px){
    .main{
        position: relative;
    }
    .main-heading{
        padding: 7%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        line-height: 1.3;
        margin-top:20px;
        margin-bottom:10px;
    }
    .main-description{
        text-align: center;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2;
        color: #000;
        margin-top:20px;
        margin-bottom:13px;
    }
    .btn-c { 
        height: 200px;
        position: relative;
    }
    .center {
        margin: 0;
        position: absolute;
        top: 270%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .img{
        margin-top: -140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    
}
@media (max-width:499px) {
    .img{
        width: 80vw;
    }
}

/* Platform */
.platform{
    background: #D4F3FE;
    padding-bottom: 4%;
    justify-content: center;
}
.platform-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.flat-button {
    position: relative;
    width: 100%; height: 60px;
    background: #D4F3FE;
    overflow: hidden;
    cursor: pointer;
    border: none;
    text-align: center;
    color: rgb(0, 0, 0);
}
.platform-btn button:hover {
    border-bottom: 3px solid #5ACCDE;
}
.platform-btn button.active {
    border-bottom: 3px solid #5ACCDE;
}
.platform h6{
    font-weight: normal;
}
table {
    background: #5ACCDE;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
    box-shadow: rgb(99, 99, 99, 0.350) 0 0 10px;
}
table tr th {
    background: #5ACCDE;
    border-radius: 0.25em;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
}
tbody td {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: .76em;
    padding: 0.65em 1em;
    border: .5px solid #ddd;
}
tbody tr{
    background: #fff;
    font-weight: 200;
    border-radius: 0.25em;
}
tfoot tr td{
    background: #5ACCDE;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    text-align: center;
}
td b{
    color: #5ACCDE;
}
td span{
    font-weight: bold;
}
.list{
    margin: 1em;
    margin-left: 10%;
}
.list li{
    color: #000000;
    line-height: 50px;
}
.list button{
    margin-top: -10px;
    margin-left: -20px;
}
.list2{
    display: none;
}
.line{
    margin-top: 20px;
    margin-left: -20px;
}
.line span{
    color: #5ACCDE;
}
.line a{
    font-weight: bold;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
}
.box {
    background: white;
    border-radius: 6px;
    margin: 20px auto;
    width: 300px;
    height: 220px;
    border: #5ACCDE solid 1px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: rgba(99, 99, 99, 0.300) 0 0 10px;
}
.box h5{
    font-size: 15px;
    font-weight: bold;
}
.box p{
    font-size: 12px;
}
.text-center button{
    padding-bottom: 10px;
}
@media (max-width: 992px) and (min-width: 768px){
    .boxes{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
    }
    table tr th {
        font-size: 0.8em;
        padding: 0em 1em;
    }
    tbody td {
        font-size: .7em;
        padding: 0em .8em;
    }
    tfoot tr td{
        padding: 0.3em 1em;
        font-size: 0.8em;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .list{
        display: none;
    }
    .list2{
        display: block;
        padding: 10%;
    }
    .list2 button{
        margin-top: -10px;
        margin-left: -20px;
    }
    .list2 h6{
        font-size: .8rem;
    }
    .boxes{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .box:nth-child(5){
        display: none;
    }
    .box:nth-child(6){
        display: none;
    }
}

/* Proposition */
.proposition{
    padding-bottom: 4%;
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
}
.proposition .box {
    background: white;
    border-radius: 6px;
    margin: 20px;
    width: 300px;
    height: 220px;
    border: #5ACCDE solid 1px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: rgba(99, 99, 99, 0.300) 0 0 10px;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.proposition .btn-f{
    display: none;
}
@media (max-width: 768px) {
    .box2{
        display: none;
    }
    .proposition .box:nth-child(4){
        display: none;
    }
    .proposition .btn-f{
        display: inline;
    }
}

/* Calculator */
.calculator{
    background: #D4F3FE;
    padding-bottom: 4%;
    justify-content: center;
}
.calculator h6{
    font-weight: normal;
    font-size: 15px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
}
.amount h6{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #5ACCDE;
}
.dark{
    background-color: #158BBB;
}
.light{
    color: #158BBB;
    background-color: #D4F3FE;
    border: 2px solid #158BBB;
    border-color: #158BBB;
}
.amount input{
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Price */
.price{
    background: #D4F3FE;
    display: grid;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: center;
    grid-template-columns: auto auto;
}
.img-btn {
    position: relative;
    width: 100%;
    max-width: 400px;
}
.img-btn img {
    width: 100%;
    height: auto;
}
.img-btn .btn-f {
    position: absolute;
    top: 85%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.network-img{
    margin-top: 20%;
}
.img-btn2{
    display: none;
}
@media (max-width: 767px){
    .network-img{
        display: none;
    }
    .img-btn2{
        display: block;
    }
    .img-btn{
        display: grid;
        grid-template-columns: auto;
    }
}

@media (max-width: 992px) and (min-width: 768px){
    .network-img{
        margin-top: 20%;
    }
}

/* Value */
.value{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

/* Footer */
.card-foot{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}
.card-items{
    display: grid;
    grid-template-rows: auto auto auto;
}